<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link"> On home</button>
  </div>

  <div class="info">
    <strong>author</strong>
    <small>12.02.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dignissimos dolor dolorum eligendi eum excepturi expedita illum iusto nemo nisi, nobis nulla obcaecati odit officia quibusdam quis quos tempora vel velit. Ad asperiores commodi consequatur, culpa, dolores exercitationem impedit laudantium, nostrum numquam perferendis recusandae sed tempore? Fugit, iste, voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dignissimos dolor dolorum eligendi eum excepturi expedita illum iusto nemo nisi, nobis nulla obcaecati odit officia quibusdam quis quos tempora vel velit. Ad asperiores commodi consequatur, culpa, dolores exercitationem impedit laudantium, nostrum numquam perferendis recusandae sed tempore? Fugit, iste, voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dignissimos dolor dolorum eligendi eum excepturi expedita illum iusto nemo nisi, nobis nulla obcaecati odit officia quibusdam quis quos tempora vel velit. Ad asperiores commodi consequatur, culpa, dolores exercitationem impedit laudantium, nostrum numquam perferendis recusandae sed tempore? Fugit, iste, voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt dignissimos dolor dolorum eligendi eum excepturi expedita illum iusto nemo nisi, nobis nulla obcaecati odit officia quibusdam quis quos tempora vel velit. Ad asperiores commodi consequatur, culpa, dolores exercitationem impedit laudantium, nostrum numquam perferendis recusandae sed tempore? Fugit, iste, voluptatum!</p>
  </div>
</div>
